<ion-header>
  <ion-toolbar>
    <ion-title> detail </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Carte contenant une image et une description -->
  <ion-card>
    <!-- Image -->
    <ion-img src="https://www.ahstatic.com/photos/a7l6_rsr003_00_p_2048x1536.jpg"></ion-img>
    
    <!-- Description -->
    <ion-card-content>
      <ion-text>
        <h2>Mon Image</h2>
        <p>Ceci est une description pour mon image. Elle peut contenir des informations supplémentaires sur l'image.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
