<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bateau Thibault</ion-card-title>
      <ion-card-subtitle>Vendure</ion-card-subtitle>
    </ion-card-header>
    <div class="image-container">
      <ion-img
        src="https://static.actu.fr/uploads/2020/12/10039-201202155608680-001140665890358730419.jpg"
        alt="Photo de Bateau Thibault"
      ></ion-img>
    </div>

    <ion-card-content>
      <strong>Nous Contacter:</strong>
      <p><strong>Email:</strong> {{'commandelebateauthibault@gmail.com'}}</p>
      <p><strong>Téléphone:</strong> +33 6 87 73 55 56</p>
      <p><strong>Description:</strong></p>
      <p>
        Nous approvisionnons également en poisson à la criée de Cherbourg, ce
        qui nous permet de vous offrir une plus grande variété de produits
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
