#img{
    width: 100%;
    height: 25em;
    background-size: cover !important;
}

ion-card{
    margin-top: -3em;
    border-radius: 50px;
    box-shadow: none;
}
.small-text {
    font-size: 0.2rem !important ; /* Ajustez selon la taille souhaitée */
    // color: #666; /* Optionnel : pour un effet visuel moins dominant */
  }
  