<ion-content>
  <!-- <<<div id="img" [style.background]="'url(' + restaurant.img + ')'"></div> -->
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-img [src]="restaurant.img"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin">
          <ion-card-header>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-card-title >{{ restaurant.title | titlecase }}</ion-card-title>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <!-- <ion-grid>
            <ion-row>
              <ion-col class="ion-padding">
                <ion-tsxt [src]="restaurant.description"></ion-tsxt>

              </ion-col>
            </ion-row>
          </ion-grid> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col >
        <ion-card-title style="font-size: 1.1rem; color: #000000;">{{ restaurant.description | titlecase }}</ion-card-title>
      </ion-col>
    </ion-row>
  </ion-card-header>>
</ion-content>




